// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby)
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

// mixins

+font(Geneva, Geneva)
+font(proximanovabold, proximanovabold)
+font(proximanovasemibold, proximanovasemibold)
+font(proximanovaregular, proximanovabregular)

=Geneva
	font-family: "Geneva", Tahoma, serif
=prox-b
	font-family: "proximanovabold", Arial, serif
=prox-s
	font-family: "proximanovasemibold", Arial, serif
=prox-r
	font-family: "proximanovaregular", Arial, serif

// center
.out
	padding: 0 15px
	margin: 0 auto
	max-width: 1500px
	+clr

// variables
$white: #fff
$black: #000
$red: #ff0000
$gray_dark: #2b2b2b
$gray_l: #ccc
$gray_strip: #f0f1f2
$gray_table: $gray_strip
$c_info: #68666b
$footer_gray: #808080

// body
body
	+Geneva
	font-size: 24px
	line-height: 1.4
	+font-smoothing(antialiased)
// common block
.header
	width: 100%
	&__logo
		float: left
	&__menu
		float: left
		padding-left: 4%
	&__list
	&__cell
		width: 20%
		float: left
	&__icon
		display: inline-block
		vertical-align: middle
	@each $s in key,graf,chat,diagram,letter,news,case,query,roller,card
		.icon_#{$s}
			+s(#{$s})
	&__link
		padding-left: 5px
		+prox-r
		font-size: 12px
		line-height: 2
		color: $gray_dark
