// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby)
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

// mixins

+font(Geneva, Geneva)
+font(ProximaNovaBold, ProximaNovaBold)
+font(ProximaNovaSemibold, ProximaNovaSemibold)
+font(ProximaNovaRegular, ProximaNovaRegular)

=Geneva
	font-family: "Geneva"
=prox-b
	font-family: "ProximaNovaBold"
=prox-s
	font-family: "ProximaNovaSemibold"
=prox-r
	font-family: "ProximaNovaRegular"
// variables
$white: #fff
$black: #000
$red: #ff0000
$gray_dark: #2b2b2b

// body
body
	+font-smoothing(antialiased)
	vertical-scrollbar: outside

// common block
// center
.out
	width: 100%
	max-width: 1500px
	padding: 0 15px
	margin: 0 auto
	+clr
	+r(400)
		padding: 0
.up-img
	overflow: hidden
	width: 100%
	max-width: 1085px
	margin: auto
	padding-bottom: 1.7%
	img
		float: left
// btn-menu
.btn-menu
	float: right
	position: relative
	width: 30px
	height: 25px
	background: transparent
	display: none
	+r(1150)
		display: block
	&:before,
	&:after,
	span
		position: absolute
		content: ''
		top: 10px
		left: 0
		right: 0
		height: 5px
		background: #61c1f3
		transition: transform .3s
	&:before
		top: 0
	&:after
		top: 21px
	span
		will-change: opacity
		transition: opacity .3s, transform .3s
// header
.header
	overflow: hidden
	width: 100%
	&.is-active
		.btn-menu
			&:before
				transform: translateY(11px) rotate(45deg)
			&:after
				transform: translateY(-12px) rotate(-45deg)
				+r(768)
					transform: translateY(-10px) rotate(-45deg)
			span
				transform: translate3d(0,0,0)
				opacity: 0
				transform: scale(0)
	&__logo
		float: left
		width: 20%
		img
			float: right
			width: 100%
			max-width: 155px
	&__menu
		float: left
		width: 80%
		padding-left: 1.9%
	&__list
		float: left
		padding-right: 2%
	&__cell
		margin-top: 7px
	&__icon
		display: inline-block
		vertical-align: middle
	@each $s in key,graf,chat,diagram,letter,news,case,query,roller,card,info,speak,smile,build
		.icon_#{$s}
			+s(#{$s})
	&__link
		padding-left: 6px
		+Geneva
		font-size: 12px
		line-height: 1.5
		color: $gray_dark
		text-decoration: none
		&:hover
			.header__name
				border-bottom: dotted 1px #b9babb
	&__name
		border-bottom: solid 1px #b9babb
	// адаптив для header
	+r(1150)
		&__menu
			float: none
			width: 100%
			padding-left: 0
			text-align: right
			clear: both
		&__list
			float: none
			width: 200px
			padding-right: 0
			margin: auto
			clear: both
			text-align: left
	+r(680)
		&__logo
			width: 40%
			img
				float: left
// end header
.main-header
	@extend .header
	max-width: 1195px
	margin: auto
	&__menu
		padding-left: 3.7%
	&__list
		padding-right: 3%
	&__cell
		margin-top: 9px
	&__account
		width: 28%
		max-width: 245px
		margin-left: 2%
		float: left
		padding: 1.2%
		border-radius: 6px
		background-color: rgb(243, 243, 243)
		+r(1150)
			overflow: hidden
			margin-left: 0
			float: none
			margin: 20px auto
			width: 100%
	&__info
		float: left
		width: 70%
	&__icon
		float: left
		+s(private)
		margin-right: 8px
	&__login
		float: left
		width: 100%
		+prox-b
		font-size: 13px
		line-height: 24px
		color: #46484c
	&__personal
		float: left
		width: 100%
		padding-left: 29px
		+prox-s
		font-size: 11px
		color: $gray_dark
	&__exit
		float: right
		width: 30%
		text-align: right
		line-height: 21px
		+prox-s
		font-size: 12px
		color: $gray_dark
// footer
.footer
	width: 100%
	position: relative
	&__line
		position: absolute
		width: 100%
		top: 10%
		margin: 0
		border: none
		height: 1px
		background-color: #dadada
		z-index: -1
	&__in
		overflow: hidden
		width: 100%
		max-width: 1120px
		margin: auto
		padding: 0 3.5% 0 0
	&__copy
		float: left
		clear: both
		padding: 0 4%
		+prox-s
		font-size: 14px
		color: rgb(43, 43, 43)
		text-align: left
		background-color: #fff
	&__text
		float: left
		clear: both
		padding: 0 6%
		font-size: 11px
		+Geneva
		color: rgb(125, 125, 125)
		line-height: 2.6
	&__link
		color: #2896df
	&__img
		float: right
// end footer
