// Normally mainpage styles
.bg_sky
  overflow: hidden
  padding-top: 4.5%
  background: url(../img/sky.png) top left no-repeat
.apartments
  width: 100%
  &__conteiner
    width: 80%
    max-width: 1140px
    margin: auto
  &__item
    width: 380px
    float: left
  &__uptitle
    +prox-r
    font-size: 23px
    color: rgb(43, 43, 43)
    text-align: left
  &__title
    +prox-b
    font-size: 40px
    font-weight: bold
    color: rgb(248, 178, 43)
    line-height: 0.835
    text-align: left
