// Normally mainpage styles
.bg_sky
  overflow: hidden
  padding-top: 4.5%
  background: url(../img/sky.png) top left no-repeat
  background-size: 100%
  +r(1150)
    background: none
    #mobileMenu
      background: url(../img/sky.png) top center no-repeat #fff
      background-size: 70%
.apartments
  overflow: hidden
  position: relative
  float: left
  width: 100%
  padding: 55px 0 45px 0
  &__conteiner
    overflow: inherit
    width: 1140px
    margin: auto
    +r(1220)
      width: 760px
    +r(840)
      width: 380px
    +r(400)
      width: 320px
  &__arrows
    .slick-left,
    .slick-right
      @extend .slick-prev
      margin-top: -20px
      height: 40px
      width: 40px
      cursor: pointer
      opacity: 0.5
      background-color: transparent
      &:before
        width: 40px
        height: 40px
        content: " "
        background-color: transparent
        background-image: url(../img/left_arrow.png)
      &:hover
        opacity: 1
    .slick-right
      @extend .slick-next
      &:before
        content: " "
        background-image: url(../img/right_arrow.png)
    +r(400)
      display: none

.item
  overflow: hidden
  width: 380px
  float: left
  +r(400)
    width: 320px
  &__titles
    display: block
    width: 286px
    margin: auto
  &__uptitle
    padding: 0 0 5px 2px
    +prox-r
    font-size: 23px
    line-height: 0.8
    color: rgb(43, 43, 43)
    text-align: left
  &__title
    padding-bottom: 5px
    +prox-b
    font-size: 40px
    line-height: 0.85
    text-decoration: none
    color: rgb(248, 178, 43)
    font-weight: bold
    text-align: left
  &__view
    width: 100%
  &__img
    position: relative
    height: 245px
    &:hover
      cursor: pointer
      .item__closer
        display: block
  &__big-img
    display: block
    margin: auto
    max-height: 245px
  &__closer
    display: none
    position: absolute
    width: 124px
    height: 124px
    left: 0
    bottom: 0
    background-color: #fff
    border-radius: 100%
  &__little-img
    position: absolute
    width: 120px
    height: 120px
    left: 0
    bottom: 2px
    border-radius: 100%
  &__contact
    width: 286px
    margin: auto
    text-align: center
  &__tel
    +prox-b
    font-size: 21px
    color: rgb(43, 43, 43)
    margin-bottom: 5px
    span
      +prox-r
      font-size: 13px
  &__icon
    display: inline-block
    height: 26px
    width: 20px
    vertical-align: middle
    +s(location)
  &__prompt
    padding-left: 10px
    font-size: 11px
    +Geneva
    color: rgb(43, 43, 43)

.form
  overflow: hidden
  display: block
  width: 286px
  margin: 15px auto
  padding: 18px 22px 12px 22px
  background-color: #f0f0f0
  border-radius: 10px
  &__mail,
  &__password
    position: relative
    width: 100%
    margin-bottom: 7px
  &__input
    width: 100%
    height: 36px
    padding: 0 35px
    border-radius: 6px
    border: 1px solid rgb(212, 212, 212)
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.004),inset 0px 1px 7px 0px rgba(0, 0, 1, 0.09)
    font-size: 13px
    line-height: 2
    color: rgba(43, 43, 43, 0.302)
    +Geneva
    text-align: left
  &__label
    position: absolute
    left: 10px
    top: 9px
  &__label-img
    float: left
  @each $s in email,password
    .icon_#{$s}
      display: inline-block
      +s(#{$s})
  &__help
    width: 50%
    float: left
    text-align: left
    a
      display: inline-block
      width: 100%
      font-size: 11px
      +Geneva
      color: rgba(43, 43, 43, 0.4)
  &__enter
    float: right
    height: 34px
    width: 108px
    border-radius: 6px
    background: rgba(255,229,101,1)
    background: linear-gradient(to bottom, rgba(255,229,101,1) 0%, rgba(254,195,86,1) 100%)
    font-size: 15px
    +prox-b
    color: rgb(27, 26, 26)
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7)

.content
  overflow: hidden
  width: 100%
  max-width: 1140px
  margin: auto
  padding: 0 2% 3.5% 2%
  &__text
    width: 65%
    float: left
    padding: 0 3%
    font-size: 13px
    +Geneva
    color: rgb(43, 43, 43)
    line-height: 1.5
    text-align: left
    ul
      padding-left: 4%
      li
        list-style-type: none
      li:before
        content: "\2013"
    a
      color: #2f96cb
    +r(680)
      width: 100%
  &__sidebar
    width: 35%
    float: right
    +r(680)
      width: 100%
  &__technical
    overflow: hidden
    width: 100%
    p
      float: right
      width: 70%
      padding-left: 7px
      padding-top: 2px
      font-size: 12px
      font-family: "Arial"
      color: rgb(1, 1, 1)
      line-height: 1
    h4
      +prox-s
      font-size: 20px
      color: rgb(53, 53, 53)
      line-height: 0.789
      text-align: left
    span
      font-size: 12.5px
      color: rgb(145, 145, 145)
      line-height: 1.25
  &__question
    float: left
    width: 30%
    padding-top: 4%
    img
      float: right
      width: 100%
      max-width: 50px
  &__number
    float: left
    width: 70%
  &__img
    width: 100%
    max-width: 300px
    padding: 6% 0
    margin: auto
    img
      width: 100%
  &__club-card
    max-width: 220px
    padding: 1% 0
    margin: auto
    text-align: left
    color: rgb(43, 43, 43)
    h3
      +prox-b
      font-size: 22px
    p
      padding: 5% 0
      +Geneva
      font-size: 13px
    a
      +Geneva
      font-size: 12px
      color: rgba(43, 43, 43, 0.4)
      line-height: 2.167
      text-align: left

.news
  overflow: hidden
  width: 100%
  max-width: 1120px
  margin: auto
  padding: 1% 1.5% 1% 3.5%
  background-color: #f6f6f6
  border-radius: 15px
  &__title
    float: left
    +prox-s
    font-size: 20px
    color: rgb(43, 43, 43)
  &__all
    float: right
    padding-right: 2%
    +Geneva
    font-size: 13px
    color: rgb(43, 43, 43)
    line-height: 2
    +r(380)
      clear: both
  &__conteiner
    overflow: hidden
    width: 100%
    padding: 2% 0
  &__item
    width: (100%/3)
    float: left
    padding-right: 2%
    text-align: left
    +r(480)
      width: 100%
  &__date
    +Geneva
    font-size: 12px
    font-style: italic
    color: #1a9dd7
    line-height: 1.667
  &__text
    color: rgb(43, 43, 43)
    +Geneva
    font-size: 12px
    line-height: 1.667
  &__link
    +Geneva
    font-size: 12px
    color: rgba(43, 43, 43, 0.4)
    line-height: 2.167

.partners
  overflow: hidden
  width: 100%
  max-width: 1120px
  margin: auto
  padding: 2% 3.5% 5% 3.5%
  &__title
    +prox-s
    font-size: 20px
    color: rgb(43, 43, 43)
  &__conteiner
    overflow: hidden
    width: 100%
  &__link
    float: left
    width: 10%
    font-size: 11px
    color: rgb(43, 43, 43)
    line-height: 1.2
    text-align: left
    +Geneva
    +r(980)
      width: 20%
      height: 120px
    +r(560)
      width: 50%
  @for $i from 1 through 29
    .partners__icon#{$i}
      display: block
      +s(partners_#{$i})

// Стили для butovo-main
.butovo
  width: 100%
  max-width: 1175px
  margin: 6% auto
  position: relative
  overflow: hidden
  +r(1150)
    margin-top: 0
  &__logo
    overflow: hidden
    position: absolute
    top: 0
    left: 170px
    +r(1000)
      left: 50px
    +r(650)
      left: 0
    +r(580)
      position: static
      padding: 0 2%
      width: 40%
      float: left
      img
        width: 100%
        max-width: 182px
    +r(360)
      width: 100%
  &__titles
    position: absolute
    top: 0
    right: 0
    width: 40%
    +r(800)
      width: 50%
    +r(580)
      position: static
      width: 60%
      float: left
      padding: 0 2%
    +r(360)
      clear: both
      width: 100%
      text-align: center
  &__uptitle
    @extend .item__uptitle
    font-size: 26px
    +r(650)
      font-size: 21px
    +r(480)
      font-size: 16px
    +r(360)
      display: inline-block
  &__title
    @extend .item__title
    font-size: 45px
    +r(650)
      font-size: 40px
    +r(480)
      font-size: 36px
    +r(360)
      display: inline-block
  &__img
    width: 100%
    max-width: 830px
    margin: auto
    img
      width: 100%
  &__text
    width: 100%
    max-width: 615px
    margin: 2% auto
    p
      font-size: 13px
      +Geneva
      color: rgb(43, 43, 43)
      line-height: 2
      text-align: left
    +r(400)
      padding: 3%
      text-align: justify

// Стили для butovo-house
.neighbors
  max-width: 610px
  margin: 6% auto 4.3% auto
  &__title
    margin-bottom: 2%
    font-size: 25px
    +Geneva
    color: rgb(43, 43, 43)
    line-height: 1.04
    text-align: left
  &__back
    font-size: 11px
    +Geneva
    color: #0097d1
    text-decoration: none
    border-bottom: 1px dotted #0097d1
    &:hover
      border-bottom: 1px solid #0097d1
.house,
.storey,
.flat
  overflow: hidden
  width: 100%
  margin: 5% 0
  padding-left: 5%
  &__title
    position: relative
    float: left
    clear: both
    margin-bottom: 2%
    font-size: 16px
    color: rgb(73, 76, 80)
    line-height: 1.625
    text-align: left
    +Geneva
    border-bottom: 1px dotted rgb(73, 76, 80)
  &__icon
    position: absolute
    display: block
    left: -17px
    top: 5px
    +s(house-arrow)
  &__choose
    float: right
    width: 30%
    text-align: left
    font-size: 11px
    +Geneva
    color: rgb(155, 155, 155)
    line-height: 2.6
    +r(550)
      width: 100%
  &__conteiner
    width: 70%
    float: left
    clear: left
    +r(550)
      width: 100%
  &__section
    position: relative
    width: 20%
    margin-right: 5%
    float: left
    input[type="radio"]
      position: absolute
      visibility: hidden
      &:checked ~ label
        color: #fff
        background-color: rgb(0, 151, 210)
        border-bottom: 1px solid rgb(0, 151, 210)
    label
      display: block
      position: relative
      text-align: center
      border-bottom: 1px dotted rgb(0, 151, 210)
      cursor: pointer
      font-size: 14px
      font-weight: bold
      +Geneva
      color: rgb(0, 151, 210)
      line-height: 1.857
      &:hover
        border-bottom: 1px solid rgb(0, 151, 210)
.storey,
.flat
  &__section
    width: 15%
    margin-right: 5%
.storey,
.flat
  &__title
    border-bottom: none
.register
  max-width: 660px
  margin: 4% auto
  &__title
    margin-bottom: 2%
    font-size: 25px
    +Geneva
    color: rgb(43, 43, 43)
    line-height: 1.04
  &__storey
    width: 100%
    position: relative
    height: 50px
    h3
      +vcenter
      left: 20%
      +Geneva
      font-size: 21px
      font-weight: bold
      color: #b0b5bb
      background-color: #fff
      padding: 1% 3%
  &__line
    border: none
    margin: 0
    height: 1px
    width: 100%
    background-color: rgb(218,218,218)
    +vcenter
  &__person
    width: 100%
    overflow: hidden
    +clr
    margin: 2% 0
  &__img
    width: 20%
    float: left
    img
      width: 100%
      max-width: 62px
      float: left
      border: 1px solid rgb(218,218,218)
      outline: 1px solid #fff
      outline-offset: -2px
  &__name
    float: left
    width: 50%
    padding: 1.5% 0
    +r(550)
      width: 80%
    p
      +Geneva
      font-size: 11px
      color: #b0b5bb
    a
      text-decoration: none
      border-bottom: 1px dotted rgb(0, 151, 210)
      cursor: pointer
      font-size: 18px
      font-weight: bold
      +Geneva
      color: rgb(0, 151, 210)
      line-height: 1.857
      &:hover
        border-bottom: 1px solid rgb(0, 151, 210)
  &__mail
    float: left
    width: 30%
    padding-top: 4%
    text-align: right
    +r(550)
      width: 100%
    a
      text-decoration: none
      font-size: 12px
      +Geneva
      color: rgb(155, 155, 155)
      line-height: 2.6
      &:hover
        color: rgb(0, 151, 210)

// стили для карты региона svg
#map
  margin: auto
  clear:both
  width: 720px
  height: 500px
  background-image: url(../img/region_bg.png)
  +r(720)
    width: 100%
    height: auto
    background-size: contain
#shadow
  opacity: 0.15
  fill: #2B2C2C
.houses
  fill: #F69F2B
.not-active
  fill: #949494
.nambers
  fill: #FFFFFF
  font-family: Arial
  font-weight: bold
  font-size: 13px
// задаем состояние объектов на карте при наведении курсора
@for $i from 1 through 12
  #emblem#{$i}
    fill: url(#emblem#{$i}_g)
  #house#{$i}:hover
    stroke: #61c1f3
    stroke-width: 3px
    cursor: pointer
    #emblem#{$i}
      stroke: #fff
      stroke-width: 0.3px
      fill: url(#emblem#{$i}_blue)
.house-queue
  margin: auto
  width: 100%
  max-width: 575px
  margin-bottom: 8%
  &__conteiner
    width: 100%
    padding-top: 2%
  &__title
    font-size: 16px
    color: rgb(73, 76, 80)
    line-height: 1.625
    +Geneva
  &__list
    width: 100%
  &__item
    display: inline-block
    padding: 1%
  &__links
    font-size: 14px
    +Geneva
    color: rgb(0, 151, 210)
    line-height: 1.857
    text-decoration: none
    border-bottom: 1px dashed rgb(0, 151, 210)
    &:hover
      border-bottom: 1px solid rgb(0, 151, 210)
