<header class="header">
  <div class="header__logo">
    <a href="index.html"><img src="img/header__logo.png" alt="&laquo;Живём вместе&raquo;"></a>
  </div>
  <div class="header__menu">
    <ul class="header__list">
      <li class="header__cell"><i class="header__icon icon_key"></i><a class="header__link" href="#">Аренда</a></li>
      <li class="header__cell"><i class="header__icon icon_graf"></i><a class="header__link" href="#">Опросы и голосования</a></li>
      <li class="header__cell"><i class="header__icon icon_chat"></i><a class="header__link" href="#">Общение</a></li>
      <li class="header__cell"><i class="header__icon icon_diagram"></i><a class="header__link" href="#">Инвестиции</a></li>
      <li class="header__cell"><i class="header__icon icon_letter"></i><a class="header__link" href="#">Контакты</a></li>
      <li class="header__cell"><i class="header__icon icon_news"></i><a class="header__link" href="#">Новости</a></li>
      <li class="header__cell"><i class="header__icon icon_case"></i><a class="header__link" href="#">Партнеры &laquo;Живём вместе&raquo;</a></li>
      <li class="header__cell"><i class="header__icon icon_query"></i><a class="header__link" href="#">есть вопрос?</a></li>
      <li class="header__cell"><i class="header__icon icon_roller"></i><a class="header__link" href="#">Типовоя отделка</a></li>
      <li class="header__cell"><i class="header__icon icon_card"></i><a class="header__link" href="#">Клубная карта</a></li>
    </ul>
  </div>
</header>
