<div id="mobileMenu"></div>
<header class="header js-header" id="main-menu">
  <div class="header__logo">
    <a href="index.html"><img src="img/header__logo.png" alt="&laquo;Живём вместе&raquo;"></a>
  </div>
  <!-- btn-menu -->
	<button class="btn-menu js-btn-menu" type="button"><span></span></button>
  <div class="header__menu js-header-nav">
    <ul class="header__list">
      <li class="header__cell"><i class="header__icon icon_key"></i><a class="header__link" href="#"><span class="header__name">Аренда</span></a></li>
      <li class="header__cell"><i class="header__icon icon_news"></i><a class="header__link" href="#"><span class="header__name">Новости</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><i class="header__icon icon_graf"></i><a class="header__link" href="#"><span class="header__name">Опросы и голосования</span></a></li>
      <li class="header__cell"><i class="header__icon icon_case"></i><a class="header__link" href="#"><span class="header__name">Партнеры &laquo;Живём вместе&raquo;</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><i class="header__icon icon_chat"></i><a class="header__link" href="#"><span class="header__name">Общение</span></a></li>
      <li class="header__cell"><i class="header__icon icon_query"></i><a class="header__link" href="#"><span class="header__name">есть вопрос?</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><i class="header__icon icon_diagram"></i><a class="header__link" href="#"><span class="header__name">Инвестиции</span></a></li>
      <li class="header__cell"><i class="header__icon icon_roller"></i><a class="header__link" href="#"><span class="header__name">Типовоя отделка</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><i class="header__icon icon_letter"></i><a class="header__link" href="#"><span class="header__name">Контакты</span></a></li>
      <li class="header__cell"><i class="header__icon icon_card"></i><a class="header__link" href="#"><span class="header__name">Клубная карта</span></a></li>
    </ul>
  </div>
</header>
