<div class="logo">
  <a href="index.html"><img src="img/header__logo.png" alt="&laquo;Живём вместе&raMenu">
</div>
<header class="header">
  <div class="header__logo">
    <a href="index.html"><img src="img/header__logo.png" alt="&laquo;Живём вместе&raquo;"></a>
  </div>
  <div class="header__menu" id="main-menu">
    <ul class="header__list">
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_key"></i><span class="header__name">Аренда</span></a></li>
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_news"></i><span class="header__name">Новости</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_graf"></i><span class="header__name">Опросы и голосования</span></a></li>
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_case"></i><span class="header__name">Партнеры &laquo;Живём вместе&raquo;</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_chat"></i><span class="header__name">Общение</span></a></li>
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_query"></i><span class="header__name">есть вопрос?</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_diagram"></i><span class="header__name">Инвестиции</span></a></li>
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_roller"></i><span class="header__name">Типовоя отделка</span></a></li>
    </ul>
    <ul class="header__list">
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_letter"></i><span class="header__name">Контакты</span></a></li>
      <li class="header__cell"><a class="header__link" href="#"><i class="header__icon icon_card"></i><span class="header__name">Клубная карта</span></a></li>
    </ul>
  </div>
</header>
