<div id="mobileMenu"></div>
<header class="header main-header js-header" id="main-menu">
  <div class="up-img"></div>
  <div class="header__logo">
    <a href="index.html"><img src="img/header__logo.png" alt="&laquo;Живём вместе&raquo;"></a>
  </div>
  <div class="header__menu main-header__menu js-header-nav">
    <ul class="header__list main-header__list">
      <li class="header__cell main-header__cell"><i class="header__icon icon_info"></i><a class="header__link" href="butovo-main.html"><span class="header__name">О квартале</span></a></li>
      <li class="header__cell main-header__cell"><i class="header__icon icon_news"></i><a class="header__link" href="#"><span class="header__name">Новости</span></a></li>
    </ul>
    <ul class="header__list main-header__list">
      <li class="header__cell main-header__cell"><i class="header__icon icon_speak"></i><a class="header__link" href="#"><span class="header__name">Общение</span></a></li>
      <li class="header__cell main-header__cell"><i class="header__icon icon_smile"></i><a class="header__link" href="butovo-region.html"><span class="header__name">Ваши соседи</span></a></li>
    </ul>
    <ul class="header__list main-header__list">
      <li class="header__cell main-header__cell"><i class="header__icon icon_build"></i><a class="header__link" href="#"><span class="header__name">Стройплощадка</span></a></li>
      <li class="header__cell main-header__cell"><i class="header__icon icon_case"></i><a class="header__link" href="#"><span class="header__name">Партнеры &laquo;Живём вместе&raquo;</span></a></li>
    </ul>
    <ul class="header__list main-header__list">
      <li class="header__cell main-header__cell"><i class="header__icon"></i></li>
      <li class="header__cell main-header__cell"><i class="header__icon icon_query"></i><a class="header__link" href="#"><span class="header__name">есть вопрос?</span></a></li>
    </ul>
    <div class="main-header__account">
      <ul class="main-header__info">
        <li>
          <span class="main-header__login"><i class="main-header__icon"></i>Модератор проекта</span>
          <a class="main-header__personal" href="#">Личный кабинет</a>
        </li>
      </ul>
      <a class="main-header__exit" href="#">Выйти</a>
    </div>
  </div>
</header>
